* {
    font-family: "Poppins", sans-serif;
}

.bg-padrao{
    background-color: #FD0146 !important;
}
.text-padrao{
    color: #FD0146 !important;
}
.border-padrao{
    border: 1px solid #FD0146 !important;
}

.wallpaper-cardapio {
    background-color: #fd0146;
}

.cardapio-loja {
    background-image: url('/storage/images/wallpaper-cardapio.png');
    background-position: center;
    background-repeat: no-repeat;
}

.btn-categoria-cardapio {
    background-color: #fd0146 !important;
    text-decoration: none;
    color: #FFFF;
    padding: 10px 25px;
    font-weight: 700;
    border-radius: 0.5rem;
}

.wallpaper-erro{
    background-image: url('/storage/images/wallpaper-erro.png');
    background-position: center;
    background-size: cover;
}

.texto-truncate-100w {
    max-width: none;
}
