/*GERAL*/

* {
    font-family: "Nunito Sans", sans-serif;
}
.container-padrao{
    margin: 15px 2rem;
}
.fc-col-header-cell-cushion{
    color: #FD0146 !important;
    text-decoration: none;
}
.fc-event-main{
    font-size: 20px !important;
    font-weight: 800;
}
.bg-padrao{
    background-color: #FD0146 !important;
}
.text-padrao{
    color: #FD0146 !important;
}
.border-padrao{
    border: 1px solid #FD0146 !important;
}

.bg-clear{
    background-color: #a8a8a8;
}

.fill-icon {
    font-variation-settings: 'FILL' 1;
}

.table-padrao th, .table-padrao td {
    background-color: #F3F4F6 !important;
}

.table-padrao th {
    font-weight: 800 !important;
}

.text-wrapper{
    display: -webkit-box; 
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* Número de linhas permitidas */
    overflow: hidden;
    text-overflow: ellipsis; /* Adiciona os três pontinhos */
}

.nav-link-active {
    color: #FFFF !important;
    font-weight: bolder !important;
}

.nav-link-desactive {
    color: #EDEDED !important;
    font-weight: 300 !important;
}

.hover:hover {
    background-color: #EDEDED !important;
    transition: all 0.3s ease; /* Suaviza a transição */
}
